<!-- <div class="container-fluid">
    <h3>Product Catalog</h3>
    <app-product *ngFor="let product of products" [product]="product"></app-product>
</div> -->

<div class="container vh-100">
    <h3 class="mt-5" style="margin-left: 20px">Products</h3>
    <!-- product catalog uses product.component.html in components folder -->
    <div *ngIf="isAdmin;" class="mb-3">
        <button class="btn btn-success" (click)="onAddProductClick()">Add Product</button>
    </div>
    <div class="">
        <div class="row d-flex justify-content-center">
            <app-product *ngFor="let product of products" [product]="product"></app-product>
        </div>
    </div>
    
    
</div>