
<!-- <div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <p>{{ product.price }} PHP</p>
    </div>
</div> -->


<!-- per product in the product catalog page -->
<!-- <div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <p>{{ product.price }} PHP</p>
        <div *ngIf="isAdmin;">
            <button type="button" class="btn btn-primary" (click)="edit()">Edit</button>&nbsp;
            <button type="button" class="btn btn-warning" (click)="archive(product)">Archive</button>
        </div>
        <div *ngIf="hasToken && !isAdmin;">
            <button type="button" class="btn btn-primary" (click)="order()">Order</button>
        </div>
    </div>
</div> -->



  <!-- <div class="card m-2 col-md-3 mt-3" >
    <img class="card-img-top" src="https://imageio.forbes.com/specials-images/imageserve/5ed6636cdd5d320006caf841/The-Blackout-Tuesday-movement-is-causing-Instagram-feeds-to-turn-black-/960x0.jpg?height=711&width=711&fit=bounds" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }} </p>
      <p>{{ product.price }} PHP</p>
      <button disabled class="btn btn-secondary">Order</button>
    </div>
  </div>

   -->

   <div class="d-inline-block col-md-3">
    <div class="card  mx-3">
        <img class="card-img-top" [src]="'https://gitlab.com/sytems/host-images/almas-delicacies/-/raw/main/' + product.id + '.png'" alt="Product Image">
        <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }} </p>
        <p>{{ product.price }} PHP</p>
        <button disabled class="btn btn-secondary">Order</button>
        </div>
    </div>
    </div>


    





