<style>
#home{
    height: 80vh;
	display: flex;

	justify-content: center; 
	align-items: center;

    
}
#home-title{
    
}
#home-subtitle{
    font-size: 25px;
    
}
</style>
<div class="vh-100 bg-dark">
    <div class="row mb-4" id="home">
        <div class="col text-center" id="home-title">
            <h1>Alma's Delicacies</h1>
            <p id="home-subtitle">Authentic flavors from the heart</p>
            <button class="btn btn-success">Order Now!</button>
        </div>
    </div>
</div>

