<!-- S01 Activity -->
<!-- <div class="row">
    <div class="col-12 col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h3>Sample Content 1</h3>
                <p>Pariatur adipisicing aute do amet dolore cupidatat. Eu labore aliqua eiusmod commodo occaecat mollit ullamco labore minim. Minim irure fugiat anim ea sint consequat fugiat laboris id. Lorem elit irure mollit officia incididunt ea ullamco laboris excepteur amet. Cillum pariatur consequat adipisicing aute ex.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h3>Sample Content 2</h3>
                <p>Ex Lorem cillum consequat ad. Consectetur enim sunt amet sit nulla dolor exercitation est pariatur aliquip minim. Commodo velit est in id anim deserunt ullamco sint aute amet. Adipisicing est Lorem aliquip anim occaecat consequat in magna nisi occaecat consequat et. Reprehenderit elit dolore sunt labore qui.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h3>Sample Content 3</h3>
                <p>Minim nostrud dolore consequat ullamco minim aliqua tempor velit amet. Officia occaecat non cillum sit incididunt id pariatur. Mollit tempor laboris commodo anim mollit magna ea reprehenderit fugiat et reprehenderit tempor. Qui ea Lorem dolor in ad nisi anim. Culpa adipisicing enim et officia exercitation adipisicing.</p>
            </div>
        </div>
    </div>
</div> -->

<!-- s02 -->
<!-- <div class="row">
    <div class="col-12 col-md-4" *ngFor="let item of data">
        <div class="card h-100">
            <div class="card-body">
                <h3>{{ item['title'] }}</h3>
                <p>{{ item['description'] }}</p>
            </div>
        </div>
    </div>
</div> -->